/* Variables del Root Generales */
/* Buy Variables css */
/* Catalogo Variables css */
/* Login Regist Variables */
/* Variables Pago */
/* Break Points */
/* Z index */
:root {
  --z-back:-10;
  --z-Normal:1;
  --z-Superior:10;
  --z-Fixed:100;
  --z-container:1000;
}

/* Variables Root */
/* Mixin BeakPoints */
/* Mixin Heigth */
/* Variables del Root Generales */
/* Buy Variables css */
/* Catalogo Variables css */
/* Login Regist Variables */
/* Variables Pago */
/* Break Points */
/* Z index */
:root {
  --z-back:-10;
  --z-Normal:1;
  --z-Superior:10;
  --z-Fixed:100;
  --z-container:1000;
}

/* Variables Root */
/* Mixin BeakPoints */
/* Mixin Heigth */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --Color-Menu:rgba(55, 55, 59, 0.986);
  --Color-hover:#4e4c5c;
  --Text-bck-shadow:2px 2px 2px black, 2px -2px 2px black, -2px 2px 2px black, -2px -2px 2px black;
  --Color-User-page:rgba(46, 46, 46, 0.897);
  --Color-BG-sections:#626262;
  --Color-text-section-examples: #23212e ;
  --color-page:#f0f0f0;
  --shadow:0.5em 0.5em 0.5em rgba(0, 0, 0, 0.589) ;
  --shadow-content-promove: 0.5em 0.5em 0.5em rgba(218, 218, 218, 0.589) ;
  --Border-bootom-white:2px solid rgba(228, 228, 228, 0.924) ;
  --Color-BG-Public-User:#979797;
  /* Buy Variables css */
  --Col-Background: rgba(221, 221, 221, 0.315) ;
  --Shadow-CTG: 0 4px 3px rgba(0, 0, 0, 0.5) ;
  /* Catalogo Variables css */
  --Separation-aside: 5px solid #f1f1f1 ;
  /* Login Regist Variables */
  --color-formulario: rgba(51, 51, 51, 0.61);
  --color-lineas: rgba(255, 255, 255, 0.959);
  /* Variables Pago */
  --color-fondo: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
  --color-sombra: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
  --sombras: rgba(0, 0, 0, 0.3);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /* background-image: url(../img-pago/BG.jpg); */
  background-size: 100%;
  /* background-color: white; */
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* overflow-y: hidden; */
}

@media screen and (max-width: 1440px) {
  body {
    background-size: cover;
    background-position: top;
  }
}

:root {
  --Color-hover:rgb(78, 76, 92);
  --Color-Menu:rgba(55, 55, 59, 0.986);
  --Col-Background: rgba(221, 221, 221, 0.315);
  --Shadow-CTG: 0 4px 3px rgba(0,0,0,.5);
  --Color-User-page: rgba(51, 51, 51, 0.952);
  --color-fondo: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
  --color-sombra: 0 10px 10px 0 rgba(90,116,148,0.3);
  --color: rgb(#000);
  --sombras: rgba(0, 0, 0, 0.3);
}

.body-scroll {
  overflow-y: hidden;
}

/* Menu */
.Marca {
  position: absolute;
  top: 0.3em;
  right: 1em;
}

/* Estilos para el navegador */
#navegacion {
  background-color: var(--Color-Menu);
  height: 5em;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}

#navegacion ul {
  list-style-type: none;
  margin-top: 2em;
  padding-left: 2em;
}

#navegacion li {
  display: inline;
  margin: 0 2em 0 0;
  font-size: 1em;
}

@media screen and (max-width: 1024px) {
  #navegacion li {
    display: none;
  }
}

#navegacion li a {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
}

#navegacion li a:hover {
  color: var(--Color-hover);
}

/* Acomodo del menu cuando sea emergente */
.Menu-emergente-image {
  display: none;
  position: absolute;
  z-index: var(--z-Superior);
}

@media screen and (max-width: 1024px) {
  .Menu-emergente-image {
    display: inline;
  }
}

.Menu-emergente-image img {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
}

.Menu-emergente {
  display: none;
  content: "";
  position: fixed;
  top: 5rem;
  left: -80vw;
  background-color: var(--color-page);
  width: 80vw;
  height: 100vh;
  z-index: var(--z-container);
  -webkit-transition: right 0.2s;
  transition: right 0.2s;
}

.Look-menu-emergente {
  left: 0;
}

/* Estilos del Aside */
.Menu-aside {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Menu-aside li {
  margin: 1em 0 0 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.Menu-aside li:first-child:not(.Lista-Categorias li:first-child) {
  margin: 0;
  padding: 2em 7.5em 0.5em 2em;
  border-bottom: var(--Separation-aside);
}

.Menu-aside li a {
  text-decoration: none;
  color: black;
}

.Menu-aside li a img:not(.Perfil-User-menu a img) {
  width: 1.5em;
  height: 1.5em;
  margin: 0;
}

.Perfil-User-menu a img {
  background-color: white;
  width: 3rem;
  height: 3rem;
  border: 3px solid;
  border-radius: 50%;
}

.Menu-aside li:last-of-type {
  padding-bottom: 1em;
  border-bottom: var(--Separation-aside);
}

.Menu-aside li a:hover {
  color: var(--Color-hover);
}

.Lista-Categorias li a {
  margin-top: 1.5em;
  color: var(--Color-Menu);
}

.Lista-Categorias li:first-of-type {
  margin: 2em 0 2em 2em;
  list-style-type: circle;
  color: black;
}

/* Inicio de Sass --------------------------------------------------------- */
.contenedor {
  width: 70%;
  padding: 40px 20px;
  margin: auto;
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* ---------- Tarjeta Delantera ----------*/
  /* ---------- Tarjeta Trasera ----------*/
  /* ---------- Formulario Tarjeta ----------*/
}

@media screen and (max-width: 1440px) {
  .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contenedor .tarjeta {
  /* ---------- Estilos Generales de las Tarjetas ----------*/
  width: 100%;
  max-width: 550px;
  position: relative;
  color: #fff;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
  z-index: 2;
}

.contenedor .tarjeta.active {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.contenedor .tarjeta > div {
  /* padding: 30px; */
  border-radius: 23px;
  min-height: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* -webkit-box-shadow: var(--color-sombra);
          box-shadow: var(--color-sombra); */
}

.tarjeta {
  width: 100%;
  height: 22em;
  padding: 0;
  /* background: url(../img-pago/Tarjeta_Front.jpg); */
  background-size: cover;
}

@media screen and (max-width: 1440px) {
  .contenedor .tarjeta {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 1024px) {
  .contenedor .tarjeta {
    display: none;
  }
}

.delantera {
  width: 100%;
  background: url(../img-pago/Tarjeta_Front.png);
  height: inherit;
  background-size: cover;
}

.contenedor .delantera .logo-marca {
  text-align: right;
  min-height: 50px;
}

.contenedor .delantera .logo-marca img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 110px;
}

.contenedor .delantera .chip {
  width: 100%;
  max-width: 50px;
  margin-bottom: 20px;
}

.contenedor .delantera .grupo .label {
  font-size: 16px;
  color: #7d8994;
  margin-bottom: 5px;
}

.contenedor .delantera .grupo .numero,
.contenedor .delantera .grupo .nombre,
.contenedor .delantera .grupo .expiracion {
  color: black;
  font-size: 22px;
  text-transform: uppercase;
}

.contenedor .delantera .flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.trasera {
  background: url(../img-pago/Tarjeta_Back.png);
  background-size: cover;
  height: inherit;
 
  position: absolute;
  top: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.contenedor .trasera .barra-magnetica {
  height: 40px;
  background: var(--color);
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
}

.contenedor .trasera .datos {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedor .trasera .datos p {
  margin-bottom: 5px;
}

.contenedor .trasera .datos #firma {
  width: 70%;
}

.contenedor .trasera .datos #firma .firma {
  height: 40px;
  background: var(--color-fondo);
}

.contenedor .trasera .datos #firma .firma p {
  line-height: 40px;
  font-family: 'Liu Jian Mao Cao', cursive;
  color: var(--color);
  font-size: 30px;
  padding: 0 10px;
  text-transform: capitalize;
}

.contenedor .trasera .datos #ccv {
  width: 20%;
}

.contenedor .trasera .datos #ccv .ccv {
  background: transparent;
  height: 40px;
  color: white;
  padding: 0;
  margin: 1em 4em 0 0;
  text-align: center;
}

.contenedor .trasera .leyenda {
  font-size: 14px;
  line-height: 24px;
}

.contenedor .trasera .leyenda {
  color: transparent;
}

.contenedor .formulario-tarjeta {
  background: var(--Color-Menu);
  margin: 0;
  width: 100%;
  max-width: 700px;
  padding: 20px 30px 30px 30px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  -webkit-transition: -webkit-clip-path .3s ease-out;
  transition: -webkit-clip-path .3s ease-out;
  transition: clip-path .3s ease-out;
  transition: clip-path .3s ease-out, -webkit-clip-path .3s ease-out;
  margin-left: 5em;
}

@media screen and (max-width: 1024px) {
  .contenedor .formulario-tarjeta {
    margin: 5rem 0 0 0;
  }
}

.contenedor .formulario-tarjeta.active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.contenedor .formulario-tarjeta label {
  display: block;
  color: #7d8994;
  margin-bottom: 5px;
  font-size: 16px;
}

.contenedor .formulario-tarjeta input,
.contenedor .formulario-tarjeta select,
.contenedor .formulario-tarjeta .btn-enviar {
  border: 2px solid #CED6E0;
  color: white;
  background-color: rgba(0, 0, 0, 0.192);
  font-size: 18px;
  height: 50px;
  width: 100%;
  padding: 5px 12px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  border-radius: 5px;
}

.contenedor .formulario-tarjeta input:hover,
.contenedor .formulario-tarjeta select:hover {
  border: 2px solid #93BDED;
}

.contenedor .formulario-tarjeta input:focus,
.contenedor .formulario-tarjeta select:focus {
  outline: #040404;
  -webkit-box-shadow: 1px 7px 10px -5px rgba(90, 116, 148, 0.3);
          box-shadow: 1px 7px 10px -5px rgba(90, 116, 148, 0.3);
}

.contenedor .formulario-tarjeta input {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contenedor .formulario-tarjeta .flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 640px) {
  .contenedor .formulario-tarjeta .flexbox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
  }
}

.contenedor .formulario-tarjeta .expira {
  width: 100%;
}

.contenedor .formulario-tarjeta .ccv {
  min-width: 100px;
}

.contenedor .formulario-tarjeta .grupo-select {
  width: 100%;
  margin-right: 15px;
  position: relative;
}

.contenedor .formulario-tarjeta select {
  -webkit-appearance: none;
}

.contenedor .formulario-tarjeta .grupo-select i {
  position: absolute;
  color: #CED6E0;
  top: 18px;
  right: 15px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.contenedor .formulario-tarjeta .grupo-select:hover i {
  color: #93bfed;
}

.contenedor .formulario-tarjeta .btn-enviar {
  border: none;
  padding: 10px;
  font-size: 22px;
  color: #fff;
  background: var(--Color-hover);
  -webkit-box-shadow: var(--Shadow-CTG);
          box-shadow: var(--Shadow-CTG);
  cursor: pointer;
}

.contenedor .formulario-tarjeta .btn-enviar:hover {
  background: var(--Col-Background);
}

.contenedor .formulario-tarjeta .logos button {
  background: transparent;
  border: none;
  padding-right: 2em;
}

.contenedor .formulario-tarjeta .logos img {
  width: 7em;
}

.contenedor .formulario-tarjeta .logos img:hover {
  /* Borde negro al pasar el mouse */
  /* border: 2px solid #05003885; */
  border-radius: 10px;
  padding: 0 0.5rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-left: auto;
}

/* Estilos Grado y Grupo */


.graderup {
  display: flex;
  flex-wrap: wrap;
  height: min-content;
  margin: 0;
}

.graderup div {
  margin: 1em 3em 0 0;
  width: 4em;
}

.graderup div:last-child {
  width: auto;
}

.graderup div:last-child input {
    opacity: 0;
    position: absolute;
    top: 4.7em;
    width:9em;
}

.inputImageClick, .inputSelect {
  margin: 1.5em 0 0 0;
  border: 2px solid #CED6E0;
  background-color: rgba(40, 39, 39, 0.192);
  font-size: 18px;
  height: 50px;
  width: 10em;
  padding: 1em;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  border-radius: 5px;
  text-align: center;
}

/* Estilizar fecha de expiración */

.optionFlex {
  display: flex;
}

.inputSelect {
  margin-top: 0;
}

.optionFlex div {
  margin: 0 2em 2em 0;
  width: 10em;
}

/* Acomodo de la información en la tarjeta */


.acomodoCurp {
  position: absolute;
  top: 10.8em;
  left: 16em;
}

.acomodoUser {
  position: absolute;
  top: 7em;
  left: 17em;
}

.selectExpirDisp {
  display: none;
}

.selectExpir {
  z-index: 5;
  position: absolute;
  bottom:4px;
  right: 14em;
}

.acomodoGradeup {
  position: absolute;
  top: 15.2em;
  left: 16.2em;
  text-align: center;

  color: #000;
}

.acomodoGradeup p span:not(.acomodoGradeup p span:first-child) {
  position: absolute;
  left: 7.5em;
}



.rotateSelect {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.leyenda {
  opacity: 0;
  pointer-events: none;
}

.insertImg {
  width: 9em;
  height: 11.5em;
  position: absolute;
  top: 7em;
  left: 1.7em;
}

.styleImgUser {
  width: inherit;
  height: inherit;
  border-radius: 1em;
}

.nombre {
  font-size: 10px;
}


/*  Acomodo para antes de exportar a pdf */

/* .formulario-tarjeta {
  display: none;
} */

.toPrintBack {
  display: inline;
  position:absolute;
  top: 25em;
  height: 100%;
  width: 100%;
  margin:0;
}

.toPrintFront {
  display: inline;
  position: static;
}

.FrontBackPrint {
  position: absolute;
  top: -10em;
  left: 5em;
  margin:0;
  padding: 0;
  width: 100%;
  height:100%;
}

.rotateBack {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

/* .rotateDate {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);

  top:42.8em;
} */

/* .acomodoPrintBody {
  width:100%;
  height: 100%;
} */



/* Ventana ----------------------------------------------------------------------*/
/* Ventana emergente */
.modal-container {
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  pointer-events: none;
  top:0;
  left: 0;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  display: none;
}


@media screen and (max-width: 1024px) {
  .modal-container {
    top: 0;
    height: 100%;
  }
}

.modal {
  background-color: var(--Color-User-page);
  border: 1px solid black;
  width: 20%;
  height: 60%;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 4px var(--sombras);
          box-shadow: 0 2px 4px var(--sombras);
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .modal {
    width: 80vw;
  }
}

.compr-PAGADA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.compr-PAGADA img {
  width: 60%;
  margin: 1em 0 0 5em;
}

.compr-PAGADA p {
  font-size: x-large;
  color: white;
  margin: 0 2em;
  margin-top: 1em;
  border-bottom: 2px solid var(--Col-Background);
  padding-bottom: 1em;
}

.fon-tx-pago p {
  font-size: medium;
  padding: 0;
  border-bottom: transparent;
}

.fon-tx-pago p:first-child {
  margin-top: 3em;
}

.fon-tx-pago p:last-of-type {
  margin-bottom: 4em;
}

.btn-ver-plano {
  width: 50%;
  border: 2px solid #CED6E0;
  color: white;
  background-color: rgba(0, 0, 0, 0.192);
  font-size: 18px;
  padding: 5px 12px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  border-radius: 5px;
}

/* #close {
  border-radius: 100px 100px 100px 100px;
  background-color: #151538;
  width: 3em;
  height: 3em;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 1em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
} */

/* #close img {
  margin: 0;
  width: 1.5em;
  height: 1.5em;
} */

.show {
  pointer-events: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/*# sourceMappingURL=styles-pago.css.map */